#header{
  background-color:transparent;
  position:relative;
  top:0%;
  left:0%;
  z-index:1;
  height:5%;
  width:100%;
}

#logo{
  width:35px;
  height:35px;
  position:absolute;
  top:0%;
  left:3%;
  z-index:2;
}

#rollsRoyceIcon{
  width:35px;
  height:35px;
  margin:auto;
}

#search{
  width:35px;
  height:35px;
  position:absolute;
  top:0%;
  right:3%;
  z-index:2;
}

#searchIcon{
  width:20px;
  height:20px;
  margin:auto;
}

.navigate1{
  margin-left:20%;
}

#main{
  background-color:transparent;
  margin:2.5% auto;
  height:3%;
  width:60%;
  z-index:3;
}

.navigate:link, .navigate:visited, .navigate:hover, .navigate:active,
.navigate1:link, .navigate1:visited, .navigate1:hover, .navigate1:active{
  color:white;
  font-family:Arial, sans-serif;
  font-size:12px;
  font-style:normal;
  text-decoration:none;
}

#sidebarLeft{
  position:absolute;
  top:0%;
  left:0%;
  background-color:#e4dcce;
  height:100%;
  width:30%;
  z-index:0;
}

.content{
  width:200px;
  display:inline-block;
  color:white;
}

#pages>h1{
  font-size:32px;
  font-weight:300;
}

#pages>h2{
  font-size:12px;
  font-weight:bold;
}

#pages{
  position:absolute;
  top:20%;
  left:0%;
}

#statement{
  position:absolute;
  top:20%;
  left:20%;
}

#statement>h1{
  font-size:32px;
  font-weight:300
}

#statement>h2{
  font-size:10px;
}

#body{
  background-image:url("https://glewqw.by.files.1drv.com/y4m93NmQVG7tiFRt4X7uqt4Rfzc8UIKExsU76zMN5LV977E2ou1uKzfHOTlQ8W6HEEzLGIDd36Tc4uh4Y34n_eH8-q6_St5UyynLuiN6YxExrWiKMD5rR1l5CevhlghS0wElXHiLUrq1KI5F4n2wPkJmDloIPHj_m2pDOL2uf1n6iFNz-630rS9uSmUfkCp43doEbaQ5NUJiV62bxkKWEuTdQ?width=2003&height=1469&cropmode=none");
  background-size:cover;
  position:absolute;
  top:0%;
  right:0%;
  width:70%;
  height:100%;
  z-index:0;
}

.sideLink{
  text-align:center;
}

#book{
  color:white;
  font-size:12px;
  display:block;
  transform:rotate(-90deg);
  width:240px;
  position:absolute;
  bottom:30%;
  right:-105%;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:white;
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:white;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:white;
}

#keep{
  color:white;
  font-size:12px;
  display:block;
  transform:rotate(-90deg);
  width:240px;
  position:absolute;
  top:30%;
  right:-105%;
}

#sidebarRight{
  position:absolute;
  right:0%;
  top:0%;
  height:100%;
  width:5%;
  z-index:1;
}

#socialMedia{
  display:inline-block;
  position:absolute;
  left:3%;
  bottom:5%;
  z-index:1;
}

.socialMediaNavigate:link, .socialMediaNavigate:visited, .socialMediaNavigate:hover, 
.socialMediaNavigate:active{
  text-decoration:none;
}

.socialMediaNavigate{
  width:24px;
  height:24px;
}

#facebookIcon, #twitterIcon{
  width:20px;
  height:20px;
  margin:auto;
}

#instagramIcon{
  width:20px;
  height:20px;
  margin:auto;
}

#youtubeIcon{
  width:20px;
  height:20px;
  margin:auto;
}
