#header{
  background-color:transparent;
  position:relative;
  top:0%;
  left:0%;
  z-index:1;
  height:5%;
  width:100%;
}

#logo{
  position:absolute;
  top:0%;
  left:3%;
  width:5%;
  height:10%;
  z-index:2;
}

#search{
  position:absolute;
  top:0%;
  right:3%;
  width:5%;
  height:5%;
  z-index:2;
}

#links{
  display:inline-block;
}

#main{
  text-align:justify;
  background-color:transparent;
  margin:0px auto;
  height:5%;
  width:60%;
  z-index:3;
}

.navigate:link, .navigate:visited, .navigate:hover, .navigate:active{
  color:white;
  font-family:Arial, sans-serif;
  font-size:12px;
  font-style:normal;
  text-decoration:none;
}

#sidebarLeft{
  position:absolute;
  top:0%;
  left:0%;
  background-color:#e4dcce;
  height:100%;
  width:30%;
  z-index:0;
}

.content{
  display:inline-block;
  color:white;
}

#pages{
  position:absolute;
  top:20%;
  left:0%;
}

#statement{
  position:absolute;
  top:20%;
  left:15%;
}

#body{
  background-image:url("https://glewqw.by.files.1drv.com/y4m93NmQVG7tiFRt4X7uqt4Rfzc8UIKExsU76zMN5LV977E2ou1uKzfHOTlQ8W6HEEzLGIDd36Tc4uh4Y34n_eH8-q6_St5UyynLuiN6YxExrWiKMD5rR1l5CevhlghS0wElXHiLUrq1KI5F4n2wPkJmDloIPHj_m2pDOL2uf1n6iFNz-630rS9uSmUfkCp43doEbaQ5NUJiV62bxkKWEuTdQ?width=2003&height=1469&cropmode=none");
  background-size:cover;
  position:absolute;
  top:0%;
  right:0%;
  width:70%;
  height:100%;
  z-index:0;
}

#book{
  color:white;
  font-size:12px;
  display:block;
  width:20%;
  transform:rotate(-90deg);
  position:absolute;
  bottom:30%;
}

#keep{
  color:white;
  font-size:12px;
  display:block;
  width:20%;
  transform:rotate(-90deg);
  position:absolute;
  top:30%;
}

#sidebarRight{
  position:absolute;
  right:0%;
  top:0%;
  height:100%;
  width:5%;
  z-index:1;
}

#facebookIcon, #twitterIcon, #instagramIcon, #youtubeIcon{
  position:absolute;
  bottom:5%;
  width:2%;
  height:2%;
  z-index:1;
}
