#header{
  display:inline;
  background-color:transparent;
  margin-top:0%;
  margin-left:0%;
  margin-right:0%;
  z-index:0;
}

#rollsRoyceIcon{
  margin-left:5%;
  width:2%;
  height:2%;
}

#searchIcon{
  float:right;
  margin-right:0%;
  width:2%;
  height:2%;
}

#main{
  margin:0px auto;
  height:80px;
  width:60%;
  text-align:justify;
}

.navigate:link, .navigate:visited, .navigate:hover, .navigate:active{
  color:white;
  font-family:Helvetica, Arial, sans-serif;
  font-size:12px;
  font-style:normal;
}

#sidebarLeft{
  background-color:#e4dcce;
  margin-left:0%;
  margin-top:0%;
  margin-bottom:0%;
  width:30%;
  z-index:1;
}

#sidebarLeft>div{
  display:inline;
}

#currentPage, #totalPage{
  color:white;
}

#pages{
  margin-top:15%;
  margin-left:0%;
}

#content{
  color:white;
  margin-top:15%;
  margin-left:5%;
}

#body{
  background-image:url("https://glewqw.by.files.1drv.com/y4m93NmQVG7tiFRt4X7uqt4Rfzc8UIKExsU76zMN5LV977E2ou1uKzfHOTlQ8W6HEEzLGIDd36Tc4uh4Y34n_eH8-q6_St5UyynLuiN6YxExrWiKMD5rR1l5CevhlghS0wElXHiLUrq1KI5F4n2wPkJmDloIPHj_m2pDOL2uf1n6iFNz-630rS9uSmUfkCp43doEbaQ5NUJiV62bxkKWEuTdQ?width=2003&height=1469&cropmode=none");
  background-size:cover;
  margin-right:0%;
  margin-top:0%;
  width:70%;
  z-index:1;
}

#book{
  color:white;
  transform:rotate(-90deg);
  margin-bottom:15%;
}

#keep{
  color:white;
  margin-top:15%;
  transform:rotate(-90deg);
}

#sidebarRight{
  margin-right:0%;
  margin-top:0%;
  margin-bottom:0%;
  width:5%;
  z-index:1;
}

#facebookIcon, #twitterIcon, #instagramIcon, #youtubeIcon{
  width:2%;
  height:2%;
  z-index:2;
}
